.nav-links {
    padding-top: 15px;
    font-size: 30px;
    }
.nav-links:hover {
    background-color:#35eea1;
    color: white !important;
    border-radius: 15px;
    }
.bg-nav{
    background-color: seagreen;
}

.education-logo{
    font-size: 40px;
}
